{% load thumbnail %}
<div class="postdetail">
    {% if post.profile.profile_picture %}
        {% thumbnail post.profile.profile_picture "80x80" crop="center" as im %}
            <img src="{{ im.url }}" width="80" height="80" class="profilepic">
        {% endthumbnail %}
    {% else %}
        <img src="http://images.sodahead.com/polls/003831759/331109413_question_mark_face_answer_5_xlarge.jpeg" width="80" height="80" class="profilepic">
    {% endif %}
    <a href="{% url 'microblog:profiledetail' post.profile.user.id %}">@{{ post.profile.user.username }}</a> | <span class="pubdate">Published {{ post.pub_date|date:"d M, Y" }} at {{ post.pub_date|date:"g:i a" }}</span>
    <div class="well postbody">
        {{ post.body_with_links|safe }}
    </div>
</div>
