{% extends 'base.html' %}
{% block title %}All Recent Posts{% endblock %}
{% block content %}
    <h1>Welcome to Twitterclone!
        {% if request.user.is_authenticated %}
            <button style="float:right; font-size:20px;">
                <a href="{% url 'microblog:myfeed' %}">My Feed</a>
            </button>
        {% endif %}
    </h1>
    <hr>
    {% for post in post_list %}
        {% include 'microblog/_post.html' %}
        {% if not forloop.last %}
            <hr class="postdivider">
        {% endif %}
    {% empty %}
        <p>No one has posted an item on Twitterclone yet.</p>
    {% endfor %}
{% endblock content %}
