{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}@{{ profile.user.username }}'s Profile{% endblock %}
{% block content %}
    <h1>@{{ profile.user.username }}'s Profile</h1>
    <div class="profiledetail">
        {% if profile.profile_picture %}
            {% thumbnail profile.profile_picture "160x160" crop="center" as im %}
                <img src="{{ im.url }}" width="160" height="160" class="profilepic">
            {% endthumbnail %}
        {% else %}
            <img src="{{ profile.get_gravatar_img_path }}?s=160" width="160" height="160" class="profilepic">
        {% endif %}
        {% if request.user.is_authenticated %}
            <div class="btn followbutton">
                <form action="{% url 'microblog:follow' profile.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Follow @{{ profile.user.username }}</button>
                </form>
            </div>
        {% endif %}
        <div class="bio">
            <p>{{ profile.bio }}</p>
            <p>Member of Twitterclone since: {{ profile.user.date_joined|date:"d M, Y" }}</p>
        </div>
        {% if profile.following.all %}
            <div class="following">
                <h4>Following:</h4>
                <ul>
                    {% for follow_profile in profile.following.all %}
                        <li><a href="{% url 'microblog:profiledetail' follow_profile.user.id %}">@{{ follow_profile.user.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <hr>
    <div class="recentposts">
        <h3>Last 10 Posts</h3>
        {% for post in profile.post_set.all|slice:":10" %}
            {% include 'microblog/_post.html' %}
            {% if not forloop.last %}
                <hr class="postdivider">
            {% endif %}
        {% empty %}
            <p>@{{ profile.user.username }} has not posted anything on Twitterclone yet.</p>
        {% endfor %}
    </div>
{% endblock content %}
