{% extends 'base.html' %}
{% block 'title' %}{% if category %}Update{% else %}Add{% endif%} A Category{% endblock %}
{% block 'content' %}
<h1>{% if category %}Update{% else %}Add{% endif %} A Category</h1>

<form action="." method="post">
    {% csrf_token %}
        <table class="table">
            {{ form }}
            <tr>
                <td colspan="2">
                    <button class="btn btn-primary">{% if category %}Update{% else %}Add{% endif %} Category</button>
        	</td>
    	    </tr>
	</table>
</form>
{% endblock 'content' %}
