{% extends 'base.html' %}
{% load thumbnail %}
    {% block 'title' %}Most Recent Blog Posts{% endblock %}
    {% block 'content' %}
        <h1>Sarah's Most Recent Posts</h1>
        {% if post_list %}
                {% for post in post_list %}
                    {% include 'blogapp/_post.html' %}
                    <a href="{% url 'blogapp:detail' post.id %}#comment-section">Leave a comment...</a>
                    {% if not forloop.last %}
                        <hr style="border-top: 5px solid black;">
                    {% endif %}
                {% endfor %}
        {% else %}
            <p>No posts to show.</p>
        {% endif %}
    {% endblock %}
