{% extends 'base.html' %}

    {% block 'title' %}List of Blog Posts{% endblock %}

    {% block 'content' %}
        <h1>List of Sarah's Blog Posts</h1>
        {% if post_list %}
            <ul>
                {% for comment in post_list %}
                    <li><a href="{% url 'post:detail' comment.id %}">{{ comment.person }}</a> - {{comment.comment_text}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No posts to show.</p>
        {% endif %}
    {% endblock %}
