{% extends 'base.html' %}
{% block title %}Reminders{% endblock title %}
{% block content %}
    <div class="row">
	<div class="col-lg-12">
	    <div class="panel panel-primary">
		<div class="panel-heading">	
		    List All Reminders
		</div>
	    	<div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Opportunity</th>
                                <th>Completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reminder in reminder_list %}
				<tr>
				    <td><a href="{% url 'crm:reminder_detail' reminder.id %}" class="text-info">{{ reminder.opportunity }}</a></td>
				    <td>{{ reminder.completed }}</td>
				</tr>
			    {% endfor %}
			</tbody>
		    </table>
		    <div class="pull-right">
			<a href="{% url 'crm:reminder_create' %}" class="btn btn-success btn-circle glyphicon glyphicon-plus" title="Create New Reminder"></a>
		    </div>
		</div>
	    </div>
	</div>
    </div>
{% endblock content %}
