{% extends 'base.html' %}

    {% block 'title' %}List of Case Studies{% endblock %}

    {% block 'content' %}
        <h1>List of Sarah's Case Studies</h1>
        {% if casestudy_list %}
            <ul>
                {% for study in casestudy_list %}
                    <li><a href="{% url 'casestudy:detail' study.id %}">{{study.name}}</a> - {{study.description}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No case studies to show.</p>
        {% endif %}
    {% endblock %}
